<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776420540497-i4pm6m0nl8kumph537mm4jr7bjcav41r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776420540497-i4pm6m0nl8kumph537mm4jr7bjcav41r</string>
	<key>API_KEY</key>
	<string>AIzaSyBFw02Clf-NReXwr_1TXOhAptUS8YOgrQg</string>
	<key>GCM_SENDER_ID</key>
	<string>776420540497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutteracademind</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteracademind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776420540497:ios:b857a20294ae0ab801f870</string>
	<key>DATABASE_URL</key>
	<string>https://flutteracademind-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>